<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controlprocesosadministrativos">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_index"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
        <activity android:name=".CycleActivities.CycleListActivity"></activity>
        <activity
            android:name=".DeferredTestActivities.DeferredListActivity"
            android:parentActivityName=".DeferredTestActivities.DeferredMenuActivity" />
        <activity
            android:name=".DeferredTestActivities.DeferredTestAddActivity"
            android:parentActivityName=".DeferredTestActivities.DeferredMenuActivity" />

        <activity
            android:name=".DeferredTestActivities.DeferredMenuActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".CourseActivities.CourseEditActivity"
            android:parentActivityName=".CourseActivities.CourseMenuActivity" />
        <activity
            android:name=".CourseActivities.CourseSearchActivity"
            android:parentActivityName=".CourseActivities.CourseMenuActivity" />
        <activity
            android:name=".CourseActivities.CourseListActivity"
            android:parentActivityName=".CareerActivities.CareerMenuActivity" />
        <activity
            android:name=".CourseActivities.CourseAddActivity"
            android:parentActivityName=".CourseActivities.CourseMenuActivity" />
        <activity
            android:name=".CourseActivities.CourseMenuActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".CareerActivities.CareerSearchActivity"
            android:parentActivityName=".CareerActivities.CareerMenuActivity" />
        <activity
            android:name=".CareerActivities.CareerEditActivity"
            android:parentActivityName=".CareerActivities.CareerListActivity" />
        <activity
            android:name=".CareerActivities.CareerListActivity"
            android:parentActivityName=".CareerActivities.CareerMenuActivity" />
        <activity
            android:name=".CareerActivities.CareerAddActivity"
            android:parentActivityName=".CareerActivities.CareerMenuActivity" />
        <activity
            android:name=".CareerActivities.CareerMenuActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>